
.details-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}


.left-column {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.main-image-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-image {
  width: 100%;
  max-width: 380px;
  height: auto;
  border-radius: 12px;
  border: 2px solid #eee;
  object-fit: cover;
}


.thumbnail-box {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: center;

}

.thumbnail {
  width: 75px;
  height: 75px;
  border-radius: 8px;
  border: 2px solid transparent;
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.active-thumb {
  border-color: #4D61FF;
  transform: scale(1.1);
}


.right-column {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.back-btn {
  background: #4D61FF;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.product-name {
  font-size: 28px;
  font-weight: 700;
  color: #222;
}

.price {
  font-size: 22px;
  color: #4D61FF;
  font-weight: bold;
  margin-right: 29.3rem;
}


.stock {
  color: green;
  font-weight: bold;
}

.out-of-stock {
  color: red;
  font-weight: bold;
}


.dropdown-section {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.dropdown-header {
  padding: 12px 15px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-content {
  padding: 15px;
  background: white;
}


.add-cart-btn {
  margin-top: 10px;
  background: #4D61FF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  transition: 0.3s ease;
}

.add-cart-btn:hover {
  background: #3647d8;
  transform: scale(1.03);
}





@media (max-width: 768px) {
  .details-wrapper {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .main-image {
    max-width: 100%;
  }

  .product-name {
    font-size: 22px;
  }

  .price {
    font-size: 20px;
    margin-right: 12.4rem;
  }

  .add-cart-btn  {
    width: 100%;
  }
}
