.footer-wrapper {
  width: 100%;
  background: #4D61FF;
  color: white;
  padding: 50px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  flex-direction: row;
}


.footer-wrapper h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
 
}

.footer-wrapper a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 8px;
  font-size: 15px;
  transition: 0.3s ease;
}

.footer-wrapper a:hover {
  
  margin-left: 10px;
}


.footer-New {
 
  margin-bottom: -10px;
}


.footer-Shortcuts a {
   
    display: flex;
  font-size: 15px;
}


.footer-workHours p {
  margin-bottom: 8px;
  color: #d1d5db;
  font-size: 15px;
}


@media (max-width: 896px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 25px;
  }
}

@media (max-width: 896px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    padding: 25px 20px;
    text-align: left;
  }

  .footer-New {
    grid-column: span 1;
  }

  .footer-wrapper > div {
    margin-bottom: 25px;
  }
}
