.footer-wrapper {
  width: 100%;
  background: #4D61FF;
  color: white;
  padding: 50px 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  font-family: Montserrat;
}


.footer-wrapper h3 {
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
  color: #fff;
}


.item-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}


.footer-icon {
  background: #fff;
  width: 40px;
  height: 35px;
  padding: 10px;
  border-radius: 50px;
  color: #4D61FF;
}


.footer-wrapper a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: 0.3s ease;
}

.footer-wrapper a:hover {
  margin-left: 10px;
}


.footer-Shortcuts a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}


.footer-workHours p {
  margin-bottom: 8px;
  color: #d1d5db;
  font-size: 15px;
}


@media (max-width: 896px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 25px;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    padding: 25px 20px;
  }

  .item-row {
    align-items: flex-start;
  }

  .footer-icon {
    width: 35px;
    height: 32px;
  }

  .footer-wrapper > div {
    margin-bottom: 25px;
  }
}
