
.shop-container {
  width: 100%;
  padding: 70px 4rem;
  background-color: #151719;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  cursor: pointer;
}


.tabs-wrapper {
  width: 100%;
  overflow-x: auto;       
  white-space: nowrap;    
  scrollbar-width: none;   
  -ms-overflow-style: none;
}



.tabs-wrapper::-webkit-scrollbar {
  display: none; 
}

.tabs {
  display: inline-flex;
  gap: 50px;
  border-bottom: 2px solid #ddd;
  position: relative;
  cursor: grab; 
}

.tabs:active {
  cursor: grabbing;
}

.slider {
  position: absolute;
  bottom: -2px;
  height: 3px;
  background-color: #0072ff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.tabs button {
  width: 300px;
  height: 40px;
  border: none;
  background-color: #4D61FF;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  flex-shrink: 0;
}

.tabs button.active {
  font-weight: 600;
}






.package-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
  max-width: 1200px;
  margin: auto;
 
}


.package-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.package-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.package-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.package-card:hover img {
  transform: scale(1.08);
}

.package-card h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 12px 15px 8px 15px;
  color: #fff;
}


.package-card p {
  font-size: 20px;
  color: #fff;
  margin: 0 15px 12px 15px;
  display: flex;
  flex-direction: row;
}


.add-cart {
  width: 100%;
  margin: 0 15px 15px 15px;
  padding: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: #0072ff;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.add-cart:hover {
  background-color: #005fcc;
}


@media screen and (max-width: 768px) {
  .shop-container {
    padding: 40px 10px;
  }

  .package-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
 
 
}

  
  .package-card img {
    height: 320px;
    display: flex;
  }

  .tabs button  {
    width: 200px;
    height: 35px;
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .tabs {
    gap: 8px;
  }

}



