/* *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
} */

.Navigation {
    width: 100%;
    padding: 20px 40px;
    background-color: rgba(21, 23, 25, .8);
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 100;
    position: fixed;
    top: 0%;
    /* position: relative; */
}



.Navigation>.logo {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.Navigation>.navbar {
    gap: 20px;
    display: flex;

}



.navbar>a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    padding: 8px;
}


.navbar>a:hover {
    color: #4D61FF;
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.navbar>a.active {
    color:#4D61FF;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid#4D61FF;
}

.dropdown-menu>a.active {
    color:#4D61FF;
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: 2px solid#4D61FF;
}






.dropdown-title>h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}


.togglemenu {
    display: none;
}



@media screen and (max-width:896px) {
    .Navigation {
        padding: 20px;
    }

    .Navigation>.logo {
        font-size: 20px;
        font-weight: 200;
    }

    .Navigation>.navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #fff;
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        gap: 1rem;
        transform: translateX(-100%);
        transition: 0.3s ease-in-out;
        z-index: 999;
    }

    .navbar.active {
        transform: translateX(0);
    }

    .Navigation>.navbar {
        gap: 10px;
        padding: 10px;
    }

    .navbar>a {
        color: #000;
    }

    .togglemenu {
        display: block;
    }


    .dropdown-title>h3 {
        color: #000;

    }






}


.aboutDropdown {
    position: relative;
}

.dropdown-title {
    padding: 8px;
    color: #fff;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    background-color: #fff;
    border-bottom: 2px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 10px;
    flex-direction: column;
    border-radius: 15px;
    gap: 10px;
    position: absolute;
    top: 55px;
    left: 0;
    width: 200px;
    transition: all 0.3s ease-in-out
}

.dropdown-menu.show {
    display: flex;
}

.dropdown-menu a {
    color: #000;
    text-decoration: none;
    padding: 5px;
}



.dropdown-menu a:hover {
    background-color: rgba(110, 15, 15, 0.1);
}



@media screen and (max-width:896px) {
    .dropdown-menu {
        position: relative;
        /* stack inside mobile menu */
        top: 0;
        left: 0;
        width: 100%;
        border: none;
        /* background-color: blue; */
    }

    .dropdown-title {
        width: 100%;
        color: #000;
    }
}