/* * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
} */

.services-startBusiness {
  width: 100%;
  display: flex;
  background-color: #151719;
  padding: 10rem 40px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}



.services-startBusiness > p {
  color: #fff;
  font-size: 50px;
}

.services-startBusiness > .services-cards-wrapper {
  max-width: 1300px;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
 
}



.services-cards-wrapper > .card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 6px 32px rgba(44, 62, 80, 0.13);
  padding: 2.2rem 2rem 2.5rem 2rem;
  min-width: 270px;
  max-width: 360px;
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.18s, box-shadow 0.18s;
  border: 2px solid transparent;
  position: relative;
  gap: 20px;
}

.card  > h3 {
    font-size: 25px;
}

 .card  > p {
    line-height: 30px;
    text-align: center;
    font-size:15px ;

 }




.services-cards-wrapper > .card.advice {
  border-color: blue;
  box-shadow: 0 8px 36px rgba(59, 130, 246, 0.18);
  height: 250px;
  transform: scale(1.06);
}

.ourService {
    width: 100%;
    padding: 5rem 3rem;
    background-color: #4D61FF;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.ourService > p {
    color: #fff;
    font-size: 70px;
}
 


.ourService > .ourService-wripper {
    width: 100%;
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
   
   
    gap: 30px;

}

.ourService-wripper > .wordPress{
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 15px 10px;
    
    
}

.wordPress > .icon {
    width: 60px;
    height: 60px;
    display: flex;
    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-top-right-radius:50px ;
    border-bottom-left-radius: 50px;
    justify-content: center;
    align-items: center;
}


.wordPress  > .text {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.wordPress  > .text > h2 {
    color: #fff;
    font-size: 25px;
}
.wordPress  > .text > p {
    color: #fff;
    font-size: 15px;
}

@media screen and (max-width:896px) {
    .services-startBusiness {
        padding: 8rem 10px;
        gap: 50px;
    }

    .services-startBusiness > p  {
        font-size: 26px;
    }
    .services-cards-wrapper > .card {
        gap: 10px;
    }
    .ourService{
         padding: 1rem 1rem;
         justify-content: center;
         align-items: center;
    }
    .ourService > p  {
        font-size: 50px;
    }

    .wordPress > .icon {
    width: 40px;
    height: 40px;
    display: flex;
   
  
    
}
.wordPress  > .text > h2 {
    font-size: 20px;
}

}


.DevelopmentCenter {
    background-color: #121313;
    display: flex;
  flex-direction: row;
    padding: 10rem 3rem 5rem 3rem;
    gap: 70px;
   
}



.DevelopmentCenter > .development-image {
    width: 45%;
    height: 600px;
    display: flex;
 
   

}

.development-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.DevelopmentCenter > .development-text {
    width: 50%;
    display: flex;
  
    flex-direction: column;
    gap: 60px;
   

}




.development-text > h2 {
    font-size: 40px;
    color: #fff;
}
.development-text > p {
    font-size: 25px;
    color: #908f8f;
    /* text-align: center; */
    line-height: 40px;
}


 .development-text > a {
    width: 30%;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: #4D61FF;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    gap: 10px;
}


@media screen and (max-width:896px) {
    .DevelopmentCenter {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      
    }

    .DevelopmentCenter > .development-image  {
        height: 300px;
        width: 100%;
    }


    .DevelopmentCenter > .development-text  {
        width: 100%;
        gap: 20px;
    }

    .development-text > h2  {
        font-size: 22px;
        font-weight: bolder;
    }
    .development-text > p  {
        font-size: 16px;
       
    }

    .development-text > a  {
        width: 100%;
    }
}








